<html>
<head>
  <meta charset="UTF-8">
<title>菊花聊天室</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>
<body>


<div id="app" style="float:left;width:40%">
大侠贵姓：<input type="text" v-model="name"><br>
大侠请留言：<input type="text" v-model="text">
<button @click="send()" @keyup.enter.native="send()">发送</button>
<br>
<br>
<div v-html="data"></div>
当前在线人数：{{online_num}}
<br>
##################################
<div v-html="result"></div>
</div>


<script>
var app = new Vue({
  el: '#app',
  data: {
      name: '',
      text: '',
      data: '',
      online_num: 0,
      result: '',
      websocket: null,
      history: ''
  },
  mounted() {

    var string = "段誉,虚竹,阿紫,乔峰,阿朱,慕容复,王语嫣,段正淳,木婉清,鸠摩智,游坦之,丁春秋,钟灵,包不同,马夫人,乌老大,阿碧,段延庆,玄难,玄慈,风波恶,钟万仇,耶律洪基,云中鹤,巴天石,叶二娘,苏星河,李秋水,全冠清";
    var array = string.split(",");
    this.name = array[Math.round(Math.random()*(array.length-1))];


    if ('WebSocket' in window) {
      this.websocket = new WebSocket('wss://home.z0.hk:3000/chat')
      this.initWebSocket()
    } else {
      alert('当前浏览器 Not support websocket')
    }
  },
  beforeDestroy() {
    this.onbeforeunload()
  },
  methods: {
    initWebSocket() {
      //连接错误
      this.websocket.onerror = this.setErrorMessage

      // //连接成功
      this.websocket.onopen = this.setOnopenMessage

      //收到消息的回调
      this.websocket.onmessage = this.setOnmessageMessage

      //连接关闭的回调
      this.websocket.onclose = this.setOncloseMessage

      //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
      window.onbeforeunload = this.onbeforeunload
    },
    setErrorMessage() {
      this.data = "聊天室连接发生错误" + '   状态码：' + this.websocket.readyState;
    },
    setOnopenMessage() {
      this.data = "聊天室连接成功" + '   状态码：' + this.websocket.readyState;
    },
    setOnmessageMessage(event) {
      data = JSON.parse(event.data);
      this.online_num = data.online_num
      if (data.message != "")
      {
        if (this.history != data.message)
        { var temp
          temp = data.message.replace("<", "&lt;")
          this.result += temp
          this.result += "<br>#########################################<br>";
        }
        this.history = data.message
      }
    },
    setOncloseMessage() {
      this.data = "聊天室连接关闭" + '   状态码：' + this.websocket.readyState;
    },
    onbeforeunload() {
      this.closeWebSocket();
    },

    //websocket发送消息
    send() {
      if(this.text == ''){
        alert('说点啥吧！')
      }
      else{
        this.websocket.send(this.name + ":" + this.text)
        this.text = ''
      }
    },
    closeWebSocket() {
      this.websocket.close()
    }
  }
})

</script>
